@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-layer:focus,
.recharts-rectangle:focus {
  outline: none !important;
}
